<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>My Awesome Site</h1>
        <nav>
            <ul>
                <li><a href="{% url 'idea_list' %}">Lista de Ideas</a></li>
                <!-- Agrega más enlaces de navegación según sea necesario -->
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        &copy; {{ year }} My Awesome Site
    </footer>
</body>
</html>
